
    <style>
        .header-image {
            height: 100px;
            /* background: url('/mnt/data/Untitled.png') center/cover no-repeat; */
        }
        .video-card img {
            width: 100%;
            height: auto;
        }
    </style>
<body>
    <div class="container d-flex justify-content-center align-items-center">
       
        <div class="input-group w-50" style="margin-top: 10px;">
            <input type="text" class="form-control" id="search_param" placeholder="Nhập từ khóa tìm kiếm...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" ng-click="getVideos()">🔍 Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        
        <div class="row">
            <div class="col-md-6 mb-4" ng-repeat="video in videos">
                <div class="card shadow-sm p-3 video-card">
                    <img src="https://subwebapi-production.up.railway.app/api/client/proxy-image?url={{video.thumbnail_img}}" alt="Video Thumbnail/{{video.thumbnail_img}}">
                    <h4 class="font-weight-bold mt-2">{{video.title}}</h4>
                    <!-- <p class="text-muted">Hình ảnh có thể có bản quyền. <a href="#">Tìm hiểu thêm</a></p> -->
                    <div class="d-flex justify-content-between mt-3">
                        <button class="btn btn-outline-secondary"  data-toggle="modal" data-target="#downloadModal" ng-click="downFile(video.file_ass)">
                            <i class="fas fa-share"></i> Tải file Sub (.ass)
                        </button>
                        <a href="#!/sub/{{video.id}}" class="btn btn-primary">Truy cập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="downloadModalLabel">Hướng Dẫn Tải File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Để tải file, vui lòng làm theo các bước sau:</p>
                    <ol>
                        <li>Click vào file muốn tải =>. ( <a href="{{file}}" target="_blank" ng-repeat="file in video_download.file_ass">File {{$index+1}} <span ng-if="$index < video_download.file_ass.length - 1"> | </span> </a>)</li>
                        <li>Trang sẽ đưa bạn đến trang mega</li>
                        <li>Bấm tải xuống để tải về máy</li>
                    </ol>
                    <!-- <button class="btn btn-success">Tải File</button> -->
                </div>
            </div>
        </div>
    </div>